body {
	background: url("../Images/mainbag.jpg") center;
	background-size: cover;
}

.menu {
	text-align: center;
	background: #000;
	width: 70%;
	margin-left: 17%;
	opacity: 85%;
	font-size: 20px;
}

.links {
	color: #3ff;
	text-decoration: none;
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px;
}

/*.links:after {
	content: "";
	width: 100%;
	height: 2px;
	display: none;
	background-color: #00f;
	position: absolute;
	left: 0;
}*/

.links:hover {
	color: #00f;
}

.links:hover:after {
	display: block;
}