section {
	color: #fff;
}

.table {
	border: 3px solid #4682B4;
	border-radius: 20px;
	background: #222;
	background-size: cover;
}

.table td {
	width: 200px;
	border: 1px solid #4682B4;
	border-radius: 30px;
}

.table th {
	border: 2px solid #4682B4;
	border-radius: 10px;
}