.main {
    text-align:justify;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
    color: #fff;
    padding: 0 20px;
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.pages {
    color:#fff;
    text-align: center;
}

.pages a {
    color:#3ff;
}