section {
	color: #fff;
}

p {
	margin-bottom: 10px;
	color: #ffa;
}

.error {
	font-size: 14px;
	display: block;
	color: #f23;
}

h3 {
	color: #fff;
}

.form1 {
	width: 50%;
	margin: 0 auto;
	background: #333
}

.form2 {
	width: 60%;
	margin: 0 auto; 
	background: #333
}

